{% extends "base.html" %}

{% block content %}


<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">
            <div>
                <div><h3>Создать пост</h3>
                    <form enctype="multipart/form-data" class="create-post-form" action="" method="POST">
                        <p>{{form.text(class="form-control")}}</p>
                        <p>
                        <h6>Прикрепить изображение</h6>
                        <input type="file" accept="image/*"
                               name="post_im" class="form-control">
                        </p>
                        <p>{{ form.submit(type="submit", class="btn btn-warning") }}</p>
                    </form>
                    {{message}}
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="d-flex justify-content-end">
                <button type="button" onclick="window.location.href = '/main?page={{last_page}}';"
                        class="btn btn-primary">
                    На главную
                </button>
                <button type="button" onclick="window.location.href = '/profile';"
                        class="btn btn-primary">
                    Профиль
                </button>
            </div>

        </div>

    </div>
    <br>
    <a>&#8195</a><br>
    <a>&#8195</a><br>
</div>
</div>
{% endblock %}

